.left{
    float:left;
    height:100vh;
    width:50%;
    background-color: #099dfd;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.right{
    height:100vh;
    background-color:white;
    display:flex;
    flex-direction: column;
    align-items: center;


}

#right-container{
    margin-top:25%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

span{
    font-family: 'Montserrat', sans-serif;
    font-size:28px;
    color:black;
}

.left span{
    color:white;
    text-align: center;
}

body{
    margin:0px;
}

.left img{
    height:60%;
    width:60%;
    margin:50px auto 100px auto;
}


.right span{
    margin-bottom:40px;
}

input{
    border-radius: 4px;
    width:400px;
    height:24px;
    border : 1px solid #099dfd;
    padding:4px;
    margin-bottom:20px;
}
button{
    background-color: #099dfd;
    color:white;
    width:100px;
    border-radius:4px;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    border:rgb(65, 66, 82);
    padding:4px;
}